#alias e='f -e $EDITOR' # quick opening files with EDITOR
alias o='a -e xdg-open' # quick opening files with xdg-open
alias t='task'
alias ti='timew'
tas() {
    t add "$@"
    t +LATEST start 
}
alias ew="emacsclient -nc"
alias bs='bork satisfy $DOTFILES/bork/basics.sh'
alias pb="curl -F 'clbin=<-' https://clbin.com"

alias hgit='git --work-tree=$HOME --git-dir=$HOMEREPO/.git'
alias egit='git --work-tree=/etc --git-dir=$ETCREPO/.git'
alias d='date +%Y-%m-%d'
alias sv='vim -u ~/.space-vim/init.vim'
alias vimgo='vim -u ~/.config/nvim/init.go.vim'

alias r='EDITOR=kak ranger --cmd="set viewmode!"'

