.direnv
/Books
/.cache
/.cargo
/.config/chromium
/.config/Code
/.config/obsidian
/.config/Signal
/Documents
/Downloads
/.gnupg
/.local/share
/.local/state
/.mozilla
/Music
/.npm/_*
/Pictures
/Shares
/Sites
/src
/Videos
/.vscode
/wiki
/.wine
